---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/nmcolome/repos?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4465'
      X-Ratelimit-Reset:
      - '1499655349'
      Etag:
      - W/"81d3453d18c8d05c705a8cba22e19bb8"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 43f42477d5c72fbfd253
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/24360249/repos?access_token=<ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/24360249/repos?access_token=<ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90190806,"name":"active-record-sinatra","full_name":"nmcolome/active-record-sinatra","owner":{"login":"nmcolome","id":24360249,"avatar_url":"https://avatars1.githubusercontent.com/u/24360249?v=3","gravatar_id":"","url":"https://api.github.com/users/nmcolome","html_url":"https://github.com/nmcolome","followers_url":"https://api.github.com/users/nmcolome/followers","following_url":"https://api.github.com/users/nmcolome/following{/other_user}","gists_url":"https://api.github.com/users/nmcolome/gists{/gist_id}","starred_url":"https://api.github.com/users/nmcolome/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nmcolome/subscriptions","organizations_url":"https://api.github.com/users/nmcolome/orgs","repos_url":"https://api.github.com/users/nmcolome/repos","events_url":"https://api.github.com/users/nmcolome/events{/privacy}","received_events_url":"https://api.github.com/users/nmcolome/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/nmcolome/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/nmcolome/active-record-sinatra","forks_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/releases{/id}","deployments_url":"https://api.github.com/repos/nmcolome/active-record-sinatra/deployments","created_at":"2017-05-03T20:31:08Z","updated_at":"2017-05-03T20:31:09Z","pushed_at":"2016-10-08T03:13:57Z","git_url":"git://github.com/nmcolome/active-record-sinatra.git","ssh_url":"git@github.com:nmcolome/active-record-sinatra.git","clone_url":"https://github.com/nmcolome/active-record-sinatra.git","svn_url":"https://github.com/nmcolome/active-record-sinatra","homepage":null,"size":42,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":88125315,"name":"advanced_enums","full_name":"nmcolome/advanced_enums","owner":{"login":"nmcolome","id":24360249,"avatar_url":"https://avatars1.githubusercontent.com/u/24360249?v=3","gravatar_id":"","url":"https://api.github.com/users/nmcolome","html_url":"https://github.com/nmcolome","followers_url":"https://api.github.com/users/nmcolome/followers","following_url":"https://api.github.com/users/nmcolome/following{/other_user}","gists_url":"https://api.github.com/users/nmcolome/gists[...]
