---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/applegrain/orgs?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4881'
      X-Ratelimit-Reset:
      - '1499589239'
      Etag:
      - W/"5ccb0d2fbd058329075f8885d7286cf4"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 43f42477d5c72fbfd253
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"RallySoftware","id":1316658,"url":"https://api.github.com/orgs/RallySoftware","repos_url":"https://api.github.com/orgs/RallySoftware/repos","events_url":"https://api.github.com/orgs/RallySoftware/events","hooks_url":"https://api.github.com/orgs/RallySoftware/hooks","issues_url":"https://api.github.com/orgs/RallySoftware/issues","members_url":"https://api.github.com/orgs/RallySoftware/members{/member}","public_members_url":"https://api.github.com/orgs/RallySoftware/public_members{/member}","avatar_url":"https://avatars3.githubusercontent.com/u/1316658?v=3","description":"RallyDev
        organization and associated repositories"},{"login":"turingschool","id":7934292,"url":"https://api.github.com/orgs/turingschool","repos_url":"https://api.github.com/orgs/turingschool/repos","events_url":"https://api.github.com/orgs/turingschool/events","hooks_url":"https://api.github.com/orgs/turingschool/hooks","issues_url":"https://api.github.com/orgs/turingschool/issues","members_url":"https://api.github.com/orgs/turingschool/members{/member}","public_members_url":"https://api.github.com/orgs/turingschool/public_members{/member}","avatar_url":"https://avatars3.githubusercontent.com/u/7934292?v=3","description":""}]'
  recorded_at: Sun, 09 Jul 2017 08:32:34 GMT
recorded_with: VCR 3.0.3
