---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/iandouglas?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4875'
      X-Ratelimit-Reset:
      - '1499625406'
      Etag:
      - W/"9a346ee212e986b4b0d1e85c9582e454"
      Last-Modified:
      - Tue, 04 Jul 2017 03:55:08 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 43f42477d5c72fbfd253
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"iandouglas","id":168030,"avatar_url":"https://avatars3.githubusercontent.com/u/168030?v=3","gravatar_id":"","url":"https://api.github.com/users/iandouglas","html_url":"https://github.com/iandouglas","followers_url":"https://api.github.com/users/iandouglas/followers","following_url":"https://api.github.com/users/iandouglas/following{/other_user}","gists_url":"https://api.github.com/users/iandouglas/gists{/gist_id}","starred_url":"https://api.github.com/users/iandouglas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iandouglas/subscriptions","organizations_url":"https://api.github.com/users/iandouglas/orgs","repos_url":"https://api.github.com/users/iandouglas/repos","events_url":"https://api.github.com/users/iandouglas/events{/privacy}","received_events_url":"https://api.github.com/users/iandouglas/received_events","type":"User","site_admin":false,"name":"ian
        douglas","company":"iandouglas.com","blog":"http://iandouglas.com","location":"Denver,
        CO","email":"ian.douglas@iandouglas.com","hireable":null,"bio":"Developer
        Relations Lead, open-source advocate, teacher/trainer/learner","public_repos":54,"public_gists":13,"followers":44,"following":20,"created_at":"2009-12-15T18:48:12Z","updated_at":"2017-07-04T03:55:08Z"}'
  recorded_at: Sun, 09 Jul 2017 18:26:01 GMT
recorded_with: VCR 3.0.3
