---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/marinacor1?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4929'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      - W/"c9de3ed6925a6f444de0f925b04a2a38"
      Last-Modified:
      - Mon, 22 May 2017 16:00:49 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 43f42477d5c72fbfd253
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"marinacor1","id":14285122,"avatar_url":"https://avatars0.githubusercontent.com/u/14285122?v=3","gravatar_id":"","url":"https://api.github.com/users/marinacor1","html_url":"https://github.com/marinacor1","followers_url":"https://api.github.com/users/marinacor1/followers","following_url":"https://api.github.com/users/marinacor1/following{/other_user}","gists_url":"https://api.github.com/users/marinacor1/gists{/gist_id}","starred_url":"https://api.github.com/users/marinacor1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/marinacor1/subscriptions","organizations_url":"https://api.github.com/users/marinacor1/orgs","repos_url":"https://api.github.com/users/marinacor1/repos","events_url":"https://api.github.com/users/marinacor1/events{/privacy}","received_events_url":"https://api.github.com/users/marinacor1/received_events","type":"User","site_admin":false,"name":"Marina
        Corona","company":null,"blog":"marinacorona.com","location":"Denver, Colorado","email":null,"hireable":null,"bio":"Colorado
        skier with a love for code.","public_repos":128,"public_gists":9,"followers":31,"following":69,"created_at":"2015-09-15T01:02:30Z","updated_at":"2017-05-22T16:00:49Z"}'
  recorded_at: Sat, 08 Jul 2017 23:24:04 GMT
- request:
    method: get
    uri: https://api.github.com/users/marinacor1/followers?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      - W/"70ccea0bd642bf782875a570f01fe529"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 43f42477d5c72fbfd253
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/14285122/followers?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b&page=2>;
        rel="next", <https://api.github.com/user/14285122/followers?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"MDes41","id":8398525,"avatar_url":"https://avatars0.githubusercontent.com/u/8398525?v=3","gravatar_id":"","url":"https://api.github.com/users/MDes41","html_url":"https[...]
- request:
    method: get
    uri: https://api.github.com/users/MDes41?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/GKhalsa?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/Salvi6God?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/NickyBobby?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4924'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
   [...]
- request:
    method: get
    uri: https://api.github.com/users/weilandia?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4923'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/hhoopes?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4922'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/Carmer?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/brianrip?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4920'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/damwhit?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/thompickett?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4918'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/users/notmarkmiranda?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4917'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:[...]
- request:
    method: get
    uri: https://api.github.com/users/s-espinosa?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4916'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
   [...]
- request:
    method: get
    uri: https://api.github.com/users/drew-t?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4915'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/jwashke?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4914'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/kristindiannefoss?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4913'
      X-Ratelimit-Reset:
      - '1499557266'
      Et[...]
- request:
    method: get
    uri: https://api.github.com/users/stoked-zz?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4912'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/adamhundley?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4911'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/users/kamiboers?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/icorson3?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4909'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/Jbern16?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4908'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/jdliss?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4907'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/ColinOsborn?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4906'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/users/chadellison?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4905'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/users/lingtran?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4904'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/MsJennyGiraffe?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4903'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:[...]
- request:
    method: get
    uri: https://api.github.com/users/vintagesucks?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4902'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
 [...]
- request:
    method: get
    uri: https://api.github.com/users/treyx?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4901'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      - [...]
- request:
    method: get
    uri: https://api.github.com/users/dunncl15?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4900'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/NicholasJacques?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4899'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag[...]
- request:
    method: get
    uri: https://api.github.com/users/paulgrever?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4898'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
   [...]
- request:
    method: get
    uri: https://api.github.com/users/marinacor1/orgs?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4897'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      - W/"fdfdeaa2ea6fa558345ea718ab148f34"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 43f42477d5c72fbfd253
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Myopia123","id":19578673,"url":"https://api.github.com/orgs/Myopia123","repos_url":"https://api.github.com/orgs/Myopia123/repos","events_url":"https://api.github.com/orgs/Myopia123/events","hooks_url":"https://api.github.com/orgs/Myopia123/hooks","issues_url":"https://api.github.com/orgs/Myopia123/issues","members_url":"https://api.github.com/orgs/Myopia123/members{/member}","public_members_url":"https://api.github.com/orgs/Myopia123/public_members{/member}","avatar_url":"https://avatars3.githubusercontent.com/u/19578673?v=3","description":"We
        are an organization for API Curious."}]'
  recorded_at: Sat, 08 Jul 2017 23:24:13 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/Myopia123?access_token=4e4086ae85c7b0e17fe9edae295fc748a2c7576b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4896'
      X-Ratelimit-Reset:
      - '1499557266'
      Etag:
      - W/"07cab431d7fd8348d10b75128335fbdc"
      Last-Modified:
      - Wed, 25 May 2016 20:40:26 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 43f42477d5c72fbfd253
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Myopia123","id":19578673,"url":"https://api.github.com/orgs/Myopia123","repos_url":"https://api.github.com/orgs/Myopia123/repos","events_url":"https://api.github.com/orgs/Myopia123/events","hooks_url":"https://api.github.com/orgs/Myopia123/hooks","issues_url":"https://api.github.com/orgs/Myopia123/issues","members_url":"https://api.github.com/orgs/Myopia123/members{/member}","public_members_url":"https://api.github.com/orgs/Myopia123/public_members{/member}","avatar_url":"https://avatars3.githubusercontent.com/u/19578673?v=3","description":"We
        are an organization for API Curious.","name":"Myopia123","company":null,"blog":"","location":"Denver,
        Colorado","email":"","has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/Myopia123","created_at":"2016-05-25T20:33:48Z","updated_at":"2016-05-25T20:40:26Z","type":"Organization"}'
  recorded_at: Sat, 08 Jul 2017 23:24:13 GMT
recorded_with: VCR 3.0.3
