<span class='grid'>
  <%= render partial: "navbar" %>

  <% if @repos %>
    <%= render partial: 'repos' %>
  <% elsif @follows %>
    <%= render partial: 'follows' %>
  <% else %>

  <% end %>
</span>