  <section class='profile_navbar'>
    <%= link_to "Overview" %>
    <p>Overview</p>
    <p><%= "Repositories #{@github_user.public_repos}" %></p>
    <p><%= "Followers #{@github_user.followers}" %></p>
    <p><%= "Following #{@github_user.following}" %></p>
  </section>