  <section class='profile_navbar'>
    <p>Overview</p>
    <p><%= "Repositories #{@account.public_repos}" %></p>
    <p><%= "Followers #{@account.followers}" %></p>
    <p><%= "Following #{@account.following}" %></p>
  </section>